ul { 
    list-style-type: none; 
    margin: 2; 
    padding: 2; 
    overflow: hidden; 
    background-color:#1a2639; 
    } 

li{ 
    float: left;
}

li a { 
        display: block; 
        color: #31140c; 
        text-align: center; 
        padding: 15px 15px; 
        text-decoration: none; 
    } 
li a:hover { 
    background-color:  #c24d2c;

    }
    .active { 
        background-color: #7e92b8;
        color:#d9dad7;
    }
body {
    margin: 0;
    color: #d9dad7;
    text-align: left;
    background-color: #3e4a61; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }
h1 { 
    color: #e28065;
}
