
ul { 
    list-style-type: none; 
    margin: 2; 
    padding: 2; 
    overflow: hidden; 
    background-color:#1a2639; 
    } 

li{ 
    float: left;
}

li a { 
        display: block; 
        color: #c24d2c; 
        text-align: center; 
        padding: 15px 15px; 
        text-decoration: none; 
    } 
li a:hover { 
    background-color:  #d9dad7;

    }
    .active { 
        background-color: #607996;
    }

body {
    margin: 0;
    color: #d9dad7;
    text-align: left;
    background-color: #3e4a61
   
  }
